<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGCON</title>

    <!-- Compiled and minified -->
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/admin-materialize.min.css?2711767630378816724">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Local -->
    <link rel="shortcut icon" href="../public/images/logos/logcon-logo-24.png">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/scripts/main.js"></script>

    <!-- Localhost -->
    <link rel="shortcut icon" href="images/logos/logcon-logo-24.png">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>

</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect"><i id="menu-icon" class="material-icons full hide-on-large-only">  </i></a>
                <a href="#" class="brand-logo">순위</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!-- <% if (user_school == "undefined") { %> -->
                        <li><a href="#login" class="modal-trigger">로그인</a></li>
                        <li><a href="#register" class="modal-trigger">회원가입</a></li>
                    <!-- <% } else { %>
                        <li class="no-hover"><a class="no-hover"><%= user_id %> - <%= score %></a></li>
                        <li><a href="/mypage">내 정보</a></li>
                    <% } %> -->
                </ul>
            </div>
        </nav>

        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li><a href="/" id="logo-cover"></a></li>

            <li class="waves-effect"><a href="/">대문</a></li>
            <li class="waves-effect"><a href="/challenges">문제</a></li>
            <li class="waves-effect"><a href="/notice">공지사항</a></li>
            <li class="waves-effect"><a href="/rank">순위</a></li>
            <li class="waves-effect full hide-on-large-only">
                <!-- <% if (user_school == "undefined") { %> -->
                    <a href="#loginAndRegister" class="modal-trigger">로그인</a>
                <!-- <% } else { %>
                    <a href="/mypage">내 정보</a>
                <% } %> -->
            </li>
        </ul>

    </header>

    <main>
        <div class="ranking">

            <!-- 서버에서 받은 값을 정렬해줌 -->
            <% users.sort((a, b) => {return b.SCORE - a.SCORE}) %>
            <% let count = 4; %>

            <!-- 1등 -->
            <div class="ranking_top">
                
                <span class="ranking_number_first">1</span> &nbsp; 
                <span class="ranking_id"><%= users[0].ID %></span> &nbsp;
                <span class="ranking_pts"><%= users[0].SCORE %> Pts</span>
                <br>
                <div class="rank_small">
                    <span class="ranking_comment">
                        <%= users[0].PROFILE_COMMENT %>
                    </span>
                    <br>
                    <span class="rank_school">학교 : <%= users[i].SCHOOL %></span>
                </div>  

                <br>
            </div>

            <!-- 2등 -->
            <div class="ranking_second">

                <span class="ranking_number_second">2</span> &nbsp; 
                <span class="ranking_id"><%= users[1].ID %></span> &nbsp;
                <span class="ranking_pts"><%= users[1].SCORE %> Pts</span>
                <br>
                <div class="rank_small">
                    <span class="ranking_comment">
                        <%= users[1].PROFILE_COMMENT %>
                    </span>
                    <br>
                    <span class="rank_school">학교 : <%= users[1].SCHOOL %></span>
                </div>  

                <br>
            </div>

            <!-- 3등 -->
            <div class="ranking_third">

                <span class="ranking_number_third">3</span> &nbsp; 
                <span class="ranking_id"><%= users[2].ID %></span> &nbsp;
                <span class="ranking_pts"><%= users[2].SCORE %> Pts</span>
                <br>
                <div class="rank_small">
                    <span class="ranking_comment">
                        <%= users[2].PROFILE_COMMENT %>
                    </span>
                    <br>
                    <span class="rank_school">학교 : <%= users[2].SCHOOL %></span>
                </div>  

                <br>
            </div>

            <!-- 4등부터 for문 -->
            <% for (let i = 3; i < users.length; i++) { %>
                <div class="ranking_item">

                    <span class="ranking_number"><%= count++ %></span> &nbsp; 
                    <span class="ranking_id"><%= users[i].ID %></span> &nbsp;
                    <span class="ranking_pts"><%= users[i].SCORE %> Pts</span>
                    <br>
                    <div class="rank_small">
                        <span class="ranking_comment">
                            <%= users[i].PROFILE_COMMENT %> 
                        </span>
                        <br>
                        <span class="rank_school">학교 : <%= users[i].SCHOOL %></span>
                    </div>  
                    <br>
                </div>
            <% } %>


            
            <!-- <div class="ranking_top">

                <span class="ranking_number_first">1</span> &nbsp; 
                <span class="ranking_id">hawawa</span> &nbsp;
                <span class="ranking_pts">3700 Pts</span>
                <br>
                <div class="rank_small">
                    <span class="ranking_comment">
                        하와와 여고생쟝 열심히 해서 일등한 것이에양 호에에엥. 호의가 계속되면 호에엥인것이에요 호에에에에에에에에에엥
                    </span>
                    <br>
                    <span class="rank_school">학교 : sunrin</span>
                </div>  

                <br>
            </div>
            


        
            <div class="ranking_second">

            
                <span class="ranking_number_second">2</span> &nbsp; 
                <span class="ranking_id">lorem</span> &nbsp;
                <span class="ranking_pts">3500 Pts</span>
                <br>
                <div class="rank_small">
                    <span class="ranking_comment">
                        치킨이 먹고 싶어요 치킨 주세요
                    </span>
                    <br>
                    <span class="rank_school">학교 : 오류중학교</span>
                </div>  

                <br>
            </div>
            




            <div class="ranking_third">

            
                <span class="ranking_number_third">3</span> &nbsp; 
                <span class="ranking_id">dinoking</span> &nbsp;
                <span class="ranking_pts">3000 Pts</span>
                <br>
                <div class="rank_small">
                    <span class="ranking_comment">
                        호연찡 다이★스키★
                    </span>
                    <br>
                    <span class="rank_school">학교 : 오류중학교</span>
                </div>  

                <br>
            </div>
                



            <div class="ranking_item">


                <span class="ranking_number">4</span> &nbsp; 
                <span class="ranking_id">김두한</span> &nbsp;
                <span class="ranking_pts">2999 Pts</span>
                <br>
                <div class="rank_small">
                    <span class="ranking_comment">
                        다함께 폭☆사 하자! 
                    </span>
                    <br>
                    <span class="rank_school">학교 : 폭발중학교</span>
                </div>  

                <br>
            </div>
                

            <div class="ranking_item">


                <span class="ranking_number">5</span> &nbsp; 
                <span class="ranking_id">심영</span> &nbsp;
                <span class="ranking_pts">2500 Pts</span>
                <br>
                <div class="rank_small">
                    <span class="ranking_comment">
                        에엑따! 김두한 대장?! 다시는 안하겠소 다시는 안하겠소
                    </span>
                    <br>
                    <span class="rank_school">학교 : 검정고시(백병원)</span>
                </div>  
                
                <br>   
            </div>
                
            <div class="ranking_item">


                <span class="ranking_number">6</span> &nbsp; 
                <span class="ranking_id">조병옥</span> &nbsp;
                <span class="ranking_pts">2000 Pts</span>
                <br>
                <div class="rank_small">
                    <span class="ranking_comment">
                        나! 조병옥이야!!!! 아주 빵빵 터트리고 있어요
                    </span>
                    <br>
                    <span class="rank_school">학교 : 검정고시(백병원)</span>
                </div> 
                <br>
            </div> 
            
            
                

        </div> -->







    </main>

    <footer>

    </footer>

    <!-- Modal Structure -->
    <div id="login" class="modal">
        <form action="/login" method="POST">
            <div class="modal-content">
                <h4>로그인</h4>
            
                <div class="row">
                    <div class="input-field col s6">
                        <input name="id" placeholder="guchiman12" id="Lusername" type="text" class="validate" minlength="5" maxlength="20" required>
                        <label for="Lusername">User Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="pw" placeholder="•••••••••••••••••••" id="Lpassword" type="password" class="validate" minlength="8" maxlength="20" required>
                        <label for="Lpassword">Password</label>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect btn-flat submit-button">로그인</button>
                <a href="#!" class="modal-close waves-effect btn-flat">뒤로</a>
            </div>
        </form>
    </div>

    <!-- Modal Structure -->
    <div id="register" class="modal">
        <form action="/register" method="POST">
            <div class="modal-content">
                <h4>회원가입</h4>
            
                <div class="row">
                    <div class="input-field col s12">
                        <input name="id" placeholder="guchiman12" id="Rusername" type="text" class="validate" minlength="5" maxlength="20" required>
                        <label for="Rusername">User Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input name="pw" placeholder="jung5hak2seng7chan!" id="Rpassword" type="password" class="validate" minlength="8" maxlength="20" required>
                        <label for="Rpassword">Password</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="•••••••••••••••••••" id="confirmPassword" type="password" class="validate" minlength="8" maxlength="20" required>
                        <label id="confirmPassword-label" for="confirmPassword">Confirm Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input name="email" placeholder="IiLeohGeLaDo66" id="email" type="text" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="domain">
                            <option value="@gmail.com" selected>@gmail.com</option>
                            <option value="@naver.com">@naver.com</option>
                            <option value="@daum.net">@daum.net</option>
                        </select>
                        <label>Select Domain</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="school" placeholder="오류중학교" id="school" type="text" class="validate" pattern="^[가-힣]*$" title="한글로 띄어쓰기 없이 입력. ex)오류중학교" required>
                        <label for="school">school</label>
                    </div>
                </div>

                <div class="row">
                    <label>
                        <input name="grade" value="중학생" type="radio" checked />
                        <span>중학생</span>
                    </label>
                     &nbsp; &nbsp; &nbsp; 
                    <label>
                        <input name="grade" value="고등학생" type="radio" />
                        <span>고등학생</span>
                    </label>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect btn-flat submit-button">회원가입</button>
                <a href="#!" class="modal-close waves-effect btn-flat">뒤로</a>
            </div>
        </form>
    </div>

    <!-- Modal Structure -->
    <div id="loginAndRegister" class="modal modal-fixed-footer">
        <form id="loginAndRegister-form" action="/login" method="POST">
            <div class="modal-content">
                <h4>로그인/회원가입</h4>
                <ul class="collapsible">
                    <li id="MLheader" class="active">
                        <div class="collapsible-header">로그인</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="id" placeholder="guchiman12" id="MLusername" type="text" class="validate" minlength="5" maxlength="20" required>
                                    <label for="MLusername">User Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="pw" placeholder="•••••••••••••••••••" id="MLpassword" type="password" class="validate" minlength="8" maxlength="20" required>
                                    <label for="MLpassword">Password</label>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li id="MRheader">
                        <div class="collapsible-header">회원가입</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="id" placeholder="guchiman12" id="MRusername" type="text" class="validate" minlength="5" maxlength="20" required disabled>
                                    <label for="MRusername">User Name</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="pw" placeholder="jung5hak2seng7chan!" id="MRpassword" type="password" class="validate" minlength="8" maxlength="20" required disabled>
                                    <label for="MRpassword">Password</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="•••••••••••••••••••" id="MconfirmPassword" type="password" class="validate" minlength="8" maxlength="20" required disabled>
                                    <label id="MconfirmPassword-label" for="MconfirmPassword">Confirm Password</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="email" placeholder="IiLeohGeLaDo66" id="MRemail" type="text" class="validate" required>
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s12">
                                    <select name="domain">
                                        <option value="@gmail.com" selected>@gmail.com</option>
                                        <option value="@naver.com">@naver.com</option>
                                        <option value="@daum.net">@daum.net</option>
                                    </select>
                                    <label>Select Domain</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="school" placeholder="오류중학교" id="Mschool" type="text" class="validate" pattern="^[가-힣]*$" title="한글로 띄어쓰기 없이 입력. ex)오류중학교" required disabled>
                                    <label for="Mschool">school</label>
                                </div>
                            </div>

                            <div class="row">
                                <label>
                                    <input name="grade" value="중학생" type="radio" checked />
                                    <span>중학생</span>
                                </label>
                                 &nbsp; &nbsp; &nbsp; 
                                <label>
                                    <input name="grade" value="고등학생" type="radio" />
                                    <span>고등학생</span>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="submit" id="loginAndRegister-submit" class="waves-effect btn-flat submit-button">로그인</button>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">뒤로</a>
            </div>
        </form>
    </div>
</body>